#upperBar {
    background-color: rgba(81, 236, 190, 0.067);
    text-align: center;
}


#rightAnswers {
    background-color: rgb(136, 218, 210);
    width: 50%;
    float: left;
    height: 100vh;
}

#wrongAnswers {
    background-color: rgb(233, 150, 150);
    width: 50%;
    float: left;
    height: 100vh;
}

.answer {
    color: white;
}

#scoreBoard {
    display: none;
}
#wannaPlay {
    display: none
}
#questionsForm {
    display: none
}